$fondoMenu: rgba(0,0,0,0.9);
$colorSinHover: beige;
$colorConHover: #000000;
$ancho: 100%;
$alto: 100%;
$letrasHDos: 'Lora', serif;
$colorHDos: rgb(35, 106, 211);
$letrasHUno: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$colorHUno: beige;
$alCentro: center;
$tamanioHUnoTablet: 20px;
$tamanioHDosTablet: 15px;
$tamanioHUnoMobile: 25px;
$tamanioHDosMobile: 20px;
$letraParrafos: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;