@import "../variables/variables";

body{
    background-image: url(../img/areacomun/IMG_20220403_120526.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgb(255, 255, 255);
}