@import "../variables/variables";

#galeria{
    margin-bottom: 11%;
    margin-top: 10%;
    .galeria-titulo{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
        h2{
            text-align: center;
            color: map-get($titulos, color2);
            padding-top: 80px;
            padding-bottom: 80px;
            font-family: map-get($titulos, fuente2);
            font-size: 35px;
            background-image: url(https://cdn.create.vista.com/api/media/medium/479950672/stock-photo-bed-white-bedding-modern-bedroom?token=);
            background-attachment: fixed;
            background-position: center;
            background-size: cover;
        }
    }
}
.galeria-fila1{
    padding-top: 10%;
    padding-bottom: 1%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    img{
        border: 2px solid white;
        border-radius: 2%;
        width: 280px;
    }
}