@import "../variables/variables";

@media (min-width: 800px){
    #div-contacto {
        padding: 0 4rem;
        .contacto-wrapper{
            display: grid;
            grid-template-columns: 2fr 1fr;
            > * {
                padding: 2em;
            }
            .contacto-info{
                h4, ul, p{
                    padding: 1em;
                    text-align: left;
                }
            }
        }
    }
}
