@import "../variables/variables";

@media screen and (max-width: 768px){
    //barra de navegacion
    nav{
        > ul{
            flex-direction: column;
            background-color: #000000;
            position: fixed;
            left: 0;
            top: 158px;
            width: 100%;
            height: 0px;
            transition: all 300ms ease;
            z-index: 100;
            opacity: 0;
            visibility: hidden;
            > li{
                > a{
                    &:hover{
                        transform: scale(1);
                    }
                }
                &:hover{
                    ul{
                        top: 50px;
                    }
                }
            }
        }
    }
    nav{
        ul{
            li{
                ul{
                    left: 90px;
                }
            }
        }
    }
    #label__check{
        display: block;
    }

    .icon__menu{
        display: flex;
    }

    #check__menu:checked ~ nav > ul{
        height: 300px;
        visibility: visible;
        opacity: 1;
    }
    //titulo hygge
    div{
        h1{
            font-family:map-get($titulos, fuente1);
            color: map-get($titulos, color1);
            text-align: $alCentro;
            padding-top: 0px;
            font-size: map-get($tamanios,HUnoTab);
        }
    }
    .titulo-hygge{
        h2{
            font-family: map-get($titulos, fuente2);
            color: map-get($titulos, color1);
            text-align: $alCentro;
            font-size: map-get($tamanios,HDosTab);
        }
    }
    //pie de pagina
    .pie-pagina{
        .grupo-1{
            width: 90%;
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 30px;
            padding: 35px 0px;
        }
    }
    //fondo del body
    body{
        background-image: url(../img/areacomun/IMG_20220403_120526.jpg);
        background-repeat: no-repeat;
        background-size: contain;
    }
    //departamentos 1, 2 y 3
    .titulo-hygge{
        h1{
            margin-top: 200px;
        }
    }
    .grid-depto1{
        margin-top: 250px;
        margin-bottom: 100px;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "texto texto texto texto"
        "cartel cartel cartel cartel"
        ;
        .txt-depto1{
            grid-area: "texto";
            display: flex;
            align-items: center;
            p{
                text-align: center;
                font-size: 14px;
                padding: 10%;
                font-family: $letraParrafos;
                color: rgb(35, 106, 211);
            }
        }
        .cartel-depto1{
            grid-area: "cartel";
            display: flex;
            align-items: center;
            img{
                width: 100%;
                border: solid white;
                border-radius: 10px;
                text-align: center;
            }
        }
        .galeria-depto1{
            padding: 30px;
            img{
                width: 200px;
            }
        }
        .galeria-depto1-1{
            padding: 30px;
            img{
                width: 200px;
            }
        }
        .galeria-depto1-2{
            padding: 30px;
            img{
                width: 200px;
            }
        }
    }
    //titulo de contacto
    .TituloDeContacto{
        text-align: center;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: map-get($titulos, color1);
        padding-top: 200px;
        font-size: 15px;
        text-transform: uppercase;
    }





}