@import "../variables/variables";

@media screen and (max-width: 720px) {

    //departamentos
    .departamentos{
        display: grid;
        grid-template-areas: 
        "departamento-1 departamento-2" 
        "departamento-3";
        grid-template-rows: auto;
        grid-gap: 1em;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 20%;
        margin-bottom: 20%;
        .departamento-1{
            font-size: 10px;
            &:hover{
                font-size: 15px;
            }
            img{
                width: 100%;
            }
        }
        .departamento-2{
            font-size: 10px;
            &:hover{
                font-size: 15px;
            }
            img{
                width: 100%;
            }
        }
        .departamento-3{
            font-size: 10px;
            &:hover{
                font-size: 15px;
            }
            img{
                width: 100%;
            }
        }
    }
    //galeria
    .galeria-fila1 img{
        border: 1px solid white;
        border-radius: 2%;
        width: 150px;
    }
    //nosotros
    .nosotros-titulo{
        h2{
            font-family: map-get($titulos, fuente2);
            color: map-get($titulos, color2);
            margin-top: 28%;
            font-size: 25px;
        }
    }
    .seccion-nosotros{
        margin: 0px;
        padding: 50px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-bottom: 200px;
        p{
            text-align: center;
            padding: 0px;
            font-size: 15px;
            font-family: $letraParrafos;
            color: rgb(35, 106, 211);
            margin-bottom: 30px;
        }
    }
}